
body{
    background-image: url('https://wallpaperaccess.com/full/378786.jpg');
    background-size: cover;  
      
  
  
  }
  
  .main{
      width: 310px;
      border-radius: 15px;
  }
  .buttons button {
      height: 50px;
      width: 50px;
      padding: 10px;
      border-radius: 10px;
      background: none;
      outline: none;
      margin: 5px 10px;
      cursor: pointer;
      font-size: 1.3em;
  }
  .buttons button:hover {
      background-color: white;
  }
  input{
      width: 260px;
      margin: auto;
      height: 80px;
      border: none;
      background-color: white;
      color: white;
     
  }
  .display{
      font-size: 2em;
      background-color: white;
      border-radius: 15px;
  }
  .equalTo{
      background-color: maroon;
  }
  
  
  